@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #99B2DD;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 32px;
}

.link {
    transition: transform 0.5s;
}
.link:hover {
    transform: scale(1.1);
}

.img {
    max-width: 550px;
}