@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    background-color: #1E352F;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    margin: auto;
    margin-top: 150px;
}

.button {
    text-decoration: none;
    max-width: 200px;
    background-color: #335145;
    padding: 15px 20px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    border: 1px solid #828C51;
    color: #A6C36F;
}

.button:hover  {
    background-color: #596C65;
    transition: 0.5s;
}

.button:active {
    background-color: #2F3935;
}